<!DOCTYPE html>
<html>
  <%- include('./partials/head' , {title: 'Index'}) %>
  <body>
    <h1><%= title %></h1>
    <a href="/autos">Ir al listado de autos</a>
    <p>Welcome to <%= title %></p>
  </body>
</html>
