<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Udesa Movies</h1>
    <p>login</p>
    <form action="/users/login" method="POST">
      <div><input type="text" name="email" value="" placeholder="email"></div>
      <div><input type="password" name="password" value="" placeholder="contraseña"></div>
      
      <button type="submit">Ingresar</button>
    </form>
  </body>
</html>
